body {
    background-color: #f5d9d5;
    font-family: "Nunito", sans-serif;
    margin-bottom: 100px;
}
h2 {
    color:#ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}
#MainNavbar .navbar-brand {
    color: #ea1c2c;
}
#MainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}
#MainNavbar .nav-link {
    color: white;
}
#MainNavbar .nav-link:hover {
    color: #ea1c2c;
}
#headingGroup span{
    color: #ea1c2c;
}
#headingGroup h1{
    font-weight: 100;
    font-size: 4rem;
}
.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
.blurb2 {
    margin-top:100px;
}
.navbar.scrolled {
    background: rgb(222,192,222);
    transition: 500ms;
}
@media (max-width:1200px) {
    #headingGroup h1{
        font-size: 3rem;
    }
}